footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding-left: 15%;
  background-color: #040147;
}

footer p{
  margin: 0;
  padding-top: 3rem;
  color: #F2E8DF;
}

.footerLink{
  text-decoration: none;
  color: #FFFFFF;
}

.footerLink:hover{
  color: #0283BF;
}