main{
  width: 70%;
  margin-left: 15%;
}

.aboutMe{
  margin-bottom: 20px;
}

.contactLinks{
  display: flex;
  justify-content: left;
}

.contactPic{
  height: 50px;
  margin-right: 20px;
}

hr{
  margin-top: 20px;
  border: 0.5px solid #000000;
  width: 70%;
  margin-left: 15%;
}

.divider{
  border: 1px solid #000000;
}

h1{
  font-style: italic;
  font-size: 24px;
}