.projects{
  width: 70%;
  margin-left: 15%;
}

.projImage{
  max-width: 33%;
  border: 2px solid #000000;
  margin: 1px;
  box-shadow: 1px 0 6px #000000;
}

@media only screen and (max-height: 969px){
  .projImage{
    max-width: 20%;
  }
}

@media only screen and (max-height: 789px){
  .projImage{
    max-width: 15%;
  }
}