*{
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}

html{
  background-image: linear-gradient(45deg, #808080, #CCCCCC);
  background-size: 400% 400%;
  -webkit-animation: bg-shift 20s ease infinite;
  -moz-animation: bg-shift 20s ease infinite;
  -o-animation: bg-shift 20s ease infinite;
  animation: bg-shift 20s ease infinite;
  min-height: 100vh;
}

@-webkit-keyframes bg-shift {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes bg-shift {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes bg-shift {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes bg-shift { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

body{
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

.nav{
  margin: 0;
  padding: 0;
  width: 315px;
  background-image: linear-gradient(180deg, #040147, #020024);
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: right;
}

#pic{
  height: 130px;
  width: 130px;
  border-radius: 20%;
  margin-right: 16px;
  float: left;
}

#small{
  margin-top: 150px;
  float: left;
}

.nav a{
  display: block;
  padding: 16px;
  text-decoration: none;
  color: #BAB9CC;
}

.nav p{
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 16px;
  color: #BAB9CC;
}

.nav a.active{
  background-color: #312F68;
}

.nav a:hover:not(.active){
  background-color: #5F5D89;
}

.content-wrap{
  margin-left: 325px;
  padding: 1px 16px;
  height: 100%;
}

.contactPic{
  height: 50px;
  margin-right: 20px;
}

.projList{
  width: 100%;
  padding-left: 0;
  list-style-type: none;
}

.projContainer{
  margin-bottom: 20px;
}

.contactP a, .projList a, .projLinks a, .back{
  color: #040147;
}

.contactP a:hover, .projList a:hover, .projLinks a:hover, .back:hover{
  color: #5F5D89;
}

.projList li{
  width: 500px;
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
}

.projImage{
  max-width: 50%;
  border: 2px solid #000000;
  margin: 1px;
  box-shadow: 1px 0 6px #000000;
}

.projPrev{
  width: 100%;
  border: 2px solid #000000;
  margin: 1px;
  box-shadow: 1px 0 6px #000000;
}

@media screen and (max-width: 800px){
  .projImage{
    max-width: 75%;
  }
}

@media screen and (max-width: 700px){
  .nav{
    width: 100%;
    height: auto;
    position: relative;
  }

  .nav a{
    float: left;
  }

  .content-wrap{
    margin-left: 0;
  }
}

@media screen and (max-width: 580px){
  .projList li{
    width: 100%;
  }
}

@media screen and (max-width: 525px){
  .nav p{
    display: none;
  }
}

/* @media screen and (max-width: 400px){
  .nav a{
    text-align: center;
    float: none;
  }

  #pic{
    display: none;
  }
} */